[Unit]
Description=ToDoList Spring API App
After=network.target

[Service]
User=todolistapp
WorkingDirectory=/opt/todolist
EnvironmentFile=/opt/todolist/env
Environment=SPRING_PROFILES_ACTIVE=prod
ExecStart=/usr/bin/java -jar /opt/todolist/app.jar --server.port=8080
SuccessExitStatus=143
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
